*{
    box-sizing: border-box;
}

.body-desing{
    width: 100%;
    font-family: "IBM Plex Sans";
    background-image: url(./bg-main-mobile.png) ;
    background-repeat: no-repeat;
    background-position: top -239px right -246px;
}

.logo{
    width: 146px;
    margin:40px 24px;
}

.article-container{
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    margin: 24px;
}

.header-container h1{
    font-weight: 700;
    font-size: 40px;
    line-height: 48px ;
    color: #191826;
}

.header-container p{
    font-weight: 400;
    font-size: 16px;
    line-height: 26px ;
    color: #191826;
}

.main{
    height: 600px;
    background-color: #191826;
    background-image: url(./bg-pattern-2.svg);
    background-repeat: no-repeat;
    background-position: top 0vw right 5vh;
    margin-top: 166px;
    display: flex;
    justify-content: center;
    border-radius: 12px;
}

.phone{
    width: 209px;
    height: 430px;
    margin-top: -96px;
    display: flex;
    align-items: center;
}

.secend-main{
    height:546px ;
    background-color: #FA7453;
    border-radius: 12px;
    margin-top: -171px;
}
.container{
    padding: 48px 37px ;
    display:flex;
    flex-wrap: wrap;
    gap: 12px;
}

.secend-main h1{
    font-weight: 700;
    font-size: 32px;
    color: #FCFAF9;
}

.secend-main p{
    font-weight: 400;
    font-size: 18px;
    line-height: 28px;
    color: #FCFAF9;
}

.pay{
    margin-left: 42px;
    margin-bottom: 32px;
}

.symbol{
    font-weight: 700;
    font-size: 65px;
    color: #FCFAF9;
}

.month{
    font-weight: 400;
    font-size: 20px;
    color: #FCFAF9;
}

.apple{
  background-color: #191826;  
  width: 296px;
  height: 61px;
  font-weight: 700;
  font-size: 18px;
  border-radius: 12px;
  color: #FCFAF9;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 42px;
  gap:8px;
}

.apple-button{
    width: 17px;
    height: 15px;
}

.android{
  background-color: #FCFAF9;  
  width: 296px;
  height: 61px;
  font-weight: 700;
  font-size: 18px;
  border-radius: 12px;
  color: #191826;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 16px;
  margin-left: 42px;
  gap:8px;
}

.android-button{
    width: 17px;
    height: 15px;
    
}

.footer{
    margin: 64px 25px 80px 25px;
}

.footer-logo{
    width: 146px;
    height: 32px;
    color: #191826;
}

.footer-paragraph{
    width: 327px;
    height: 105px;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    margin-top: 32px;
}
.mail{
    font-weight: 700;
}

.social-logo{
display: flex;
gap:20px;
margin-top: 64px;
}

/* tablet size */
@media screen and (min-width: 768px){

    .body-desing{
        background-image: url(./bg-main-tablet.png), url(./bg-pattern-1.svg);
        background-position: right -4vw bottom 157vh, right -6vw top -7vh;
    } 

    .logo{
        margin:62px 40px;
    }

    .article-container{
        display: flex;
        flex-wrap: wrap;
        gap: 28px;
        margin: 95px 209px 111px 39px;
    }

    .header-container h1{
        width: 520px;
        font-size: 64px;
        line-height: 64px ;
        color: #191826;
    }

    .header-container p{
        width: 514px;
        font-size: 18px;
        line-height: 28px ;
        color: #191826;
    }

    .main{
        width: 697px;
        height: 600px;
        background-position: top -6vw right 31vh;
        margin-top: 249px;
        margin-left: 33px;
        display: flex;
        justify-content: flex-start;
    }
    
    .phone{
        width: 270px;
        height: 556px;
        margin-top: -120px;
        margin-left:64px;
    }
    
    .secend-main{
        width: 399px;
        margin-left: 275px;
        margin-top: -437px;
        position: absolute;
    }

    .container{
       padding: 48px;
    }

    .pay{
        margin-left:54px;
    }

    .apple{
        margin-left: 54px;
    }

    .android{
        margin-left: 54px;
        margin-bottom: 48px;
    }

    .footer{
        margin: 183px 40px 85px 40px
    }

    .footer-container{
        display: flex;
        align-items: flex-start;
        justify-content: space-between;
    }
}

/* desktop size */
@media screen and (min-width: 1440px){
    .body-desing{
        background-image: url(./bg-main-desktop.png), url(./bg-pattern-1.svg);
        background-position: right -12vw bottom 2vh, right 0vw top -5vh;
    } 

    .logo{
        margin:32px 146px;
    }

    .article-container{
        display: flex;
       flex-direction: column;
        gap: 40px;
        margin: 127px 209px 127px 165px;
    }

    .header-container h1{
        width: 1015px;
        font-size: 88px;
        line-height: 88px;
    }

    .header-container p{
        width: 825px;
        font-size: 20px;
        line-height: 34px;
        color: #191826;
    }

    .main{
        width: 1110px;
        background-position: top -4vw right 62.5vh;
        margin-top: 321px;
        margin-left: 165px;
        margin-right: 165px;
        display: flex;
        justify-content: flex-start;
    }

    .phone{
        width: 280px;
        height: 606px;
        margin-top: -195px;
        margin-left:118px;
    }

    .secend-main{
        width: 446px;
        height: 625px;
        margin-left: 715px;
        margin-top: -522px;
        position: absolute;
    }

    .container{
        padding-top:58px;
        padding-left: 54px; 
     }
 
     .pay{
         margin-left:54px;
         margin-bottom: 46px;
     }

     .secend-main p{
        font-weight: 400;
        font-size: 20px;
        line-height: 34px;
        color: #FCFAF9;
    }

     .apple{
        width: 333px;
         margin-left: 54px;
     }
 
     .android{
         width: 333px;
         margin-left: 54px;
         margin-bottom: 48px;
     }

     .footer{
        margin: 202px 165px 91px 165px;
        display: flex;
        flex-direction: row;
    }
 
    .footer-container{
        margin-left: 180px;

    }

    .footer-paragraph{
        margin-top: 0px;
    }

    .social-logo{
        margin-left: 359px;
        margin-top: 0px;
    }

}
    
